.navigation{
    position: fixed;
    inset: 20px;
    background: #385a9a;
    width: 350px;
    border-left: 10px solid #385a9a;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
