.main{
    position: absolute;
    width: calc(100% - 360px);
    left: 380px;
    min-height: 100vh;
    transition: 0.5s;
}

.content-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    padding: 40px 0;
}
