
li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: 20px;
}
li:hover{
    background: #fff;
}
li:nth-child(1){
    top: 20px;
    margin-bottom: 40px;
    background: none;
}


li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
li:hover:not(:first-child) a{
    
    color: #365fa1;
}

li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

li a .icon ion-icon{
    font-size: 1.75em;
}

li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}