
.card{
    position: relative;
    width: 280px;
    height: 380px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);    
    border-radius: 15px;
    margin: 30px;
}

.card .box{
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background: #eaeff8;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .box .content{
    padding: 20px;
    text-align: center;
}

.card .box .content h2{
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.card .box .content h3{
    font-size: 1.8em;
    color: #000000;
    z-index: 1;
    transition: 0.5s;
}

.card .box .content p{
    font-size: 1em;
    font-weight: 300;
    color: #464343;
    z-index: 1;
    transition: 0.5s;
}

.card .box .content a{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background-color: #385a9a;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.card .box .content a:hover{
    background: #fff;
    color: #385a9a;
}

